* {
  margin: 0%;
  padding: 0%; }

.cabecera {
  width: 100%;
  height: 80px;
  background-color: #464646;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2; }
  .cabecera__logo {
    margin: 10px 450px 10px 25px; }
    .cabecera__logo__titulo {
      color: white;
      font-size: 40px; }
      .cabecera__logo__titulo .fondoAzul {
        background-color: #0000a0; }
  .cabecera__navegacion {
    width: 500px; }
    .cabecera__navegacion__lista {
      display: flex;
      justify-content: space-around; }
      .cabecera__navegacion__lista .lista {
        display: inline; }
        .cabecera__navegacion__lista .lista__link {
          text-decoration: none;
          color: white;
          font-size: 20px;
          padding: 5px 10px; }
        .cabecera__navegacion__lista .lista__link:hover {
          background-color: #0000a0;
          border-radius: 50px; }
      .cabecera__navegacion__lista .carrito #carrito {
        position: fixed;
        top: 80px;
        right: 0%;
        width: 40%;
        height: 0%;
        background-color: white;
        z-index: 200;
        overflow-x: hidden;
        transition: all .5s;
        opacity: 1;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .cabecera__navegacion__lista .carrito #carrito #cerrarCarrito {
          margin: 10px 0px 10px 95%;
          text-decoration: none;
          font-size: 30px;
          color: blue; }
        .cabecera__navegacion__lista .carrito #carrito ul {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px; }
          .cabecera__navegacion__lista .carrito #carrito ul .lista {
            display: inline;
            color: black;
            font-size: 20px; }
        .cabecera__navegacion__lista .carrito #carrito #lista-carrito .productoAg ul {
          height: 100px;
          color: black;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          border-bottom: silver solid 1px; }
          .cabecera__navegacion__lista .carrito #carrito #lista-carrito .productoAg ul img {
            height: 65px; }
          .cabecera__navegacion__lista .carrito #carrito #lista-carrito .productoAg ul .nombre {
            width: 15%; }
          .cabecera__navegacion__lista .carrito #carrito #lista-carrito .productoAg ul .margin {
            margin-right: 75px; }
          .cabecera__navegacion__lista .carrito #carrito #lista-carrito .productoAg ul li {
            display: inline; }
        .cabecera__navegacion__lista .carrito #carrito #totalCarrito {
          display: flex;
          justify-content: space-between;
          width: 100;
          margin-top: 25px; }
          .cabecera__navegacion__lista .carrito #carrito #totalCarrito .lista {
            display: inline;
            color: black;
            font-size: 20px; }
            .cabecera__navegacion__lista .carrito #carrito #totalCarrito .lista .button {
              padding: 5px;
              border-radius: 50px;
              text-decoration: none;
              background-color: silver;
              color: black; }

.footer__copy {
  background-color: #0000c7;
  text-align: center;
  color: #e4e4e4; }

.inicio {
  height: 1000px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/fondoInicio.jpg") no-repeat fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .inicio__titulo {
    display: none;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin: 0 50px; }

.contacto {
  background-color: #464646;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }
  .contacto__titulo {
    text-align: center;
    color: white;
    margin-top: 25px; }
  .contacto__formulario {
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; }
    .contacto__formulario__nombreYApellido, .contacto__formulario__correoElectronico, .contacto__formulario__escribaComentario {
      padding: 0.5rem;
      font-family: 'Righteous', cursive;
      text-align: center;
      border-bottom: none; }
    .contacto__formulario__nombreYApellido:focus, .contacto__formulario__correoElectronico:focus, .contacto__formulario__escribaComentario:focus {
      width: 300px;
      font-size: 15px;
      transition: all 2s; }
    .contacto__formulario__boton {
      margin-bottom: 20px; }
      .contacto__formulario__boton__submit, .contacto__formulario__boton__reset {
        padding: 10px;
        font-family: 'Righteous', cursive;
        text-align: center;
        background-color: black;
        color: white;
        border: none;
        margin: 0 1rem;
        cursor: pointer; }

.productos {
  display: flex;
  flex-direction: column;
  background-color: #131313; }
  .productos__listaProductos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px; }
    .productos__listaProductos #product {
      border: #fffefe 2px solid;
      margin: 20px; }
      .productos__listaProductos #product .detalle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        font-size: 20px;
        width: 300px;
        text-align: center; }
        .productos__listaProductos #product .detalle .precio {
          color: #001aff; }
      .productos__listaProductos #product #agregarCarrito {
        text-decoration: none;
        color: black;
        background-color: silver;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        cursor: default; }
        .productos__listaProductos #product #agregarCarrito .imagen-producto {
          height: 300px;
          width: 300px;
          position: relative; }
        .productos__listaProductos #product #agregarCarrito .agregar-carrito {
          position: absolute;
          display: none;
          background-color: black;
          padding: 5px;
          color: silver;
          border: none;
          text-transform: uppercase;
          cursor: pointer; }
      .productos__listaProductos #product #agregarCarrito:hover .agregar-carrito {
        display: inline;
        transition: all 5s;
        animation: bounce;
        animation-duration: 2s; }
