.contacto{
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    &__titulo{
        text-align: center;
        color: white;
        margin-top: 25px;
    }

    &__formulario{
        font-family: 'Righteous', cursive;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;

        &__nombreYApellido, 
        &__correoElectronico,
        &__escribaComentario{
            padding: 0.5rem;
            font-family: 'Righteous', cursive;
            text-align: center;
            border-bottom: none;
        }

        &__nombreYApellido:focus, 
        &__correoElectronico:focus,
        &__escribaComentario:focus{
            width: 300px;
            font-size: 15px;
            transition: all 2s;
        }

        &__boton{
            margin-bottom: 20px;
            &__submit, 
            &__reset {
                padding: 10px;
                font-family: 'Righteous', cursive;
                text-align: center; 
                background-color: black;
                color: white;
                border: none;
                margin: 0 1rem;
                cursor: pointer;
            }
        }
    }
}