.productos{
    height: 1180px;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);

    &__carrito{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        background-color: silver;
        padding: 15px;

        &__tabla{
            &__lista{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .nombre{
                    margin-right: 175px;
                }

                .lista{
                    display: inline;
                    color: white;
                    font-size: 20px;
                }
            }

            .productoAg{
                
                ul{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    border-bottom: black solid 1px;

                    .nombre{
                        width: 15%;
                    }
                    
                    li{
                        display: inline;
                    }
                }
            }

            &__total{
                display: flex;
                justify-content: space-between;
                margin-right: 380px;

                .lista{
                    display: inline;
                    color: white;
                    font-size: 20px;

                    .button{
                        border-radius: 50px;
                        text-decoration: none;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }

        a{
            padding: 5px;
            background-color: rgb(0, 0, 78);
            color: white;
            text-align: center;
        }
    }

    &__listaProductos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 15px;

        #product{
            border: rgb(255, 254, 254) 2px solid;
            margin: 10px;
                
            .imagen-producto{
                height: 300px;
                width: 300px;
            }
            
            .detalle{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                color: rgb(255, 255, 255);
                font-size: 20px;
                width: 300px;
                text-align: center;
            }

            .agregar-carrito{
                text-decoration: none;
                color: rgb(1, 12, 71);
                background-color: silver;
                font-weight: bold;
            }
        }

    }
}